@use '@styles/global/variable.scss' as v;

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: v.$header_height;
}