@use './variables.scss' as v;
@use '@styles/global/variables.scss' as g;

.logo {
    position: relative;
    display: block;
    width: v.$logo_width;
    z-index: 3;
    &::after {
        content: 'Honolulu Aquarium';
        position: absolute;
        color: g.$white;
        bottom: 3px;
        font-size: 12px;
        white-space: nowrap;
        letter-spacing: 1px;
        z-index: -1;
        transition: all ease 0.5s;
    }
    &:hover::after {
        text-shadow: 1px 1px black;
        bottom: 30%;
        z-index: 1;
    }
    .image {
        height: 70px;
        width: auto;
    }
}