@use '@styles/global/variables.scss' as g;
@use './responsive/navbar.scss' as r;


.navbar {
    padding: 0px 20px;
    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 8px;
        a {
            text-decoration: none;
            color: inherit;
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 22px;
        }
        li {
            position: relative;
        }
        .firstLevelItem {
            position: relative;
            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: -6px;
                left: 0;
                background: url(./media/wave.svg) repeat-x left/auto 4px;
                width: 0;
                opacity: 0;
                height: 5px;
                transition: all ease 0.5s;
            }
            &:hover {
                & > a {
                text-shadow: 1px 1px black;
                }
                &::after {
                    width: 100%;
                    opacity: 1;
                }
                .subMenu {
                    visibility: visible;
                    opacity: 1;
                    top: 48px;
                    transform: translateY(0px);
                }
            }
            .subMenu {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 100vh;
                left: 0;
                z-index: 10;
                transition: transform ease 0.5s, opacity ease 0.5s;
                width: 235px;
                background-color: g.$white;
                border-radius: 20px 4px;
                padding: 0 20px;
                box-shadow: 0 0 10px rgba(0,0,0,.1),0 10px 20px rgba(0,0,0,.1);
                transform: translateY(10px);
                & > a {
                    display: block;
                    position: relative;
                    z-index: 2;
                    margin: 0;
                    border-bottom: 1px solid rgba(51,51,51,.1);
                    padding: 15px 0;
                    color: g.$dark;
                    line-height: 20px;
                    letter-spacing: 1px;
                    font-size: 12px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    height: 28px;
                    width: 100%;
                    bottom: 100%;
                    left: 0;
                }
                &::after {
                    content: "";
                    position: absolute;
                    pointer-events: none;
                    z-index: 1;
                    display: block;
                    width: 40px;
                    height: 40px;
                    background-color: g.$white;
                    left: 33px;
                    top: 0;
                    transform: rotate(45deg);
                    border-radius: 4px;
                }
            }
        }
        .firstLevelItem:last-of-type .subMenu::after {
            left: calc(100% - 60px);
        }
        .firstLevelItem:last-of-type .subMenu {
            left: auto;
            right: 0;
        }
    }
}
@include r.responsive;