@use './variables.scss' as v;
@use './responsive/schedule.scss' as r;

.schedule {
    background: url(./media/texture.svg) no-repeat center/cover;
    width: v.$schedule_width;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    // text-shadow: 1px 1px black;
    border-radius: 20px;
    transition: border-radius ease 0.5s;
    &:hover {
        border-radius: 40px 10px;
        text-shadow: 1px 1px black;
    }
    .label {
        font-size: 14px;
        padding-left: 20px;
    }
    .value {
        font-size: 24px;
        text-align: center;
    }
}
@include r.responsive;