@use '@styles/breakpoints/media.scss' as *;
@use './values/header.scss' as *;

@mixin responsive {
    .headerWrapper {
      .header {
        // @include media(">=w1280", "<w1680") {
        @include media("<w1680") {
            height: header-1680(height);
            padding: header-1680(padding);
            grid-template-columns: header-1680(grid-template-columns);
            gap: header-1680(gap);
        }
        // @include media(">=w760", "<w1280") {
        //     height: header-1280(height);
        // }
      }
    }
}